{% extends 'blog/base.html' %}

                {% block content %}
                    {% for post in posts %}
                        <div class="post">
                                <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
                                 <div class="date">
                                    <p><strong>published: </strong> {{ post.published_date }}</p>
                                    <p><strong>Author:</strong> {{post.author}}</p>
                                </div>
                                <p>{{ post.text|linebreaks }}</p>
                                <hr>
                        </div>
                    {% endfor %}
               {% endblock %}